#consultas-button {
  position: fixed;
  right: 0;
  top: 50%;
  vertical-align: middle;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-width: 0;
  background-color: #39eeee;
}
