<div class="container">
  <div class="row text-center justify-content-center bg-gradient py-5">
    <div class="col-sm-10">

      <main>
        <h1>Tatuador y diseñador gráfico <br> Buenos Aires, Argentina</h1>
        <h3>Agenda x abierta.</h3>

        ¡Hola! Bienvenidx, aquí podrás encontrar un formulario para solicitar un turno de tatuaje, en el cual podrás enviar toda la información detallada para que podamos enviarte un presupuesto en concreto
        <br><br>
        INFO IMPORTANTE: Leer detenidamente las indicaciones para una mejor asesoría. Estaré respondiendo las preguntas en el transcurso de los días; se agradece su paciencia.
        <br><br>
        INFO TURNOS: A la hora de enviar la información, tener en cuenta lo siguiente:
        <ul>
          <li>Los turnos se reservarán únicamente con el 30% del valor total del tatuaje (este monto se descontará del precio final).</li>
          <li>El resto se podrá abonar con los siguientes métodos de pago:</li>
          <ul>
            <li>Efectivo</li>
            <li>Transferencia bancaria</li>
            <li>Paypal</li>
          </ul>
          <li>También tendrán la opción de abonar en cuotas a través de Mercado Crédito o con su tarjeta de crédito respectiva (con un interés del 15% del valor), ya sea el total o una parte del valor del tatuaje.</li>
        </ul>
      </main>

    </div>
  </div>
</div>
